*,*::before,*::after {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
    font-family: inherit;
}

:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > header {
    flex: 1;
}

body > main {
    flex: 2;
}

header {
    background-image: url('./images/pattern-bg-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    flex-basis: 100;
}

.search-bar {
    width: 30em;
    border: none !important;
    outline: none !important;
}

.search-bar * {
    border: none !important;
    outline: none !important;
}

.search-bar input::placeholder {
    color: var(--dark-gray); 
}

.search-input {
    font-weight: 400;
    padding: .7em 1em !important;
}

.search-btn {
    transition: 150ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.search-btn:hover, .search-btn:active {
    background-color: var(--very-dark-gray) !important;
}

main {
    position: relative;
    display: flex;
}

.main-info {
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 5px rgb(219, 219, 219);
    z-index: 2;
}

.main-info div {
    border-right: 2px solid rgb(227, 227, 227);
    width: 10em;
}

.main-info div:last-of-type {
    border-right: none;
}

.main-info div h2 {
    color: var(--dark-gray);
    font-size: .7em;
}

.main-info div p {
    color: var(--vet-dark-gray);
    font-size: 1em;
}

#map { 
    min-height: 50vh;
    z-index: 0;
    flex: 1;
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.attribution a { color: hsl(228, 45%, 44%); }