*,*::before,*::after {
    box-sizing: border-box;
    margin: 0 !important;
    padding: 0 !important;
}

:root {
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

body {
    font-family: 'Barlow', sans-serif;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

header {
    background-image: url('./images/pattern-bg-desktop.png');
}

.search-bar {
    width: 30em;
    border: none !important;
    outline: none !important;
}

.search-bar * {
    border: none !important;
    outline: none !important;
}

.search-bar input::placeholder {
    color: var(--dark-gray); 
}

.main-info {
    position: absolute;
    background-color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 5px 5px rgb(219, 219, 219);
}

.main-info div {
    border-right: 2px solid rgb(227, 227, 227);
    width: 10em;
}

.main-info div:last-of-type {
    border-right: none;
}

.main-info div h2 {
    color: var(--dark-gray);
    font-size: .7em;
}

.main-info div p {
    color: var(--vet-dark-gray);
    font-size: 1em;
}

#map { 
    height: 20em; 
}

.attribution { 
    font-size: 11px; text-align: center; 
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.attribution a { color: hsl(228, 45%, 44%); }